:root{
    --variable-name:value;
}

/*selector{
    property: var(--variable-name);
}*/

@import url("https://webfonts.googleapis.com/v1/webfonts?sort=SORT_UNDEFINED&key=AIzaSyDDgX3vJD4nt_PU-_cPMzdpvK4jUxftReQ");


/*variables*/
:root{
    --font-family: "Roboto",sans-seref;
    --font-family2:"Open Sans",sans-seref;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;


}
/*variable-end*/

html{
    scroll-behavior: smooth;
}

/*CSS resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:var(--primary-color);
}

a:hover{
    color:var(--secondary-color);
}

body{
    font-family: var(--font-family);
}
/* styling the nav bar*/

nav{

    position: sticky;
    top: 0;
    left:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    
}

nav h1{
    color: var(--primary-color);
}


nav a{
    color: var(--primary-color);
    transition:var(--transition);
}
nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav ul li{
    font-weight: var(--bold-font);
}

.burger-menu{
    color:var(--primary-color);
    font-size: 2rem;
    border:0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* hero section*/

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 70rem;
    margin: auto;

}

.hero img{
    height: 30rem;
    width: 30rem;
}

.bio-data{
    width: 30rem;
    padding:0.5rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    
}

.bio-data h1{
    margin-bottom: var(--bottom-margin);

}
.bio-data p{
    line-height: var(--line-height);
    padding: 0.5rem;
    font-family: var(--font-family2);
    font-weight: 530;
}
.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume img{
    
    margin-left: 1rem;
    height: 20px;
    width: 20px; 
}

.resume h3{
    color: var(--primary-color);
    margin: 0.5rem;
    margin-top: 0.3rem;
    
}
.resume{
    margin-top: 1.5rem;
    padding:0.5rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
/*more about*/

.more-about{
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p{
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: justify;
    margin:auto;
    font-family: var(--font-family2);
    font-weight: 530;
}

/*Skills*/

.skills{
    max-width: 70rem;
    margin:auto;
    text-align: center;
    margin-top: 2.5rem;

}
.skills-header{
    margin-bottom: 1rem;
}

.skills-wrapper img,h4{
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}
.first-set,.second-set{
    display: flex;
    justify-content: center;
}



.skill-title{
    width:7rem;
    height:7rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
    
}

/*projects*/

.projects{
    background-color: var(--bg-color);
    padding: 32px 0;

}

.project-pic{
    width: 15rem;
    height: 15rem;
}

.projects-title{
    text-align: center;
    margin-bottom: 1rem;
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.project-container{
    text-align: center;
    width: 20rem;
    padding: 1rem;
}

.project-container p{
    padding: 0.4rem;

}
.project-title{
    margin-bottom: var(--bottom-margin);

}

.project-details{
    margin-bottom: var(--bottom-margin);
    font-family: var(--font-family2);
    font-weight: 530;

}

.project-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding:20px;
    margin: 10px
}

/*contacts*/

.contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact h2{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container{
    max-width: 50rem;
    border-radius: 5px;
    margin: auto;
    padding: 1rem;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label{
    line-height: 2.6rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}
.contact-form-container textarea{
    min-height: 6rem;
    font-size: 14px;
}
.contact-form-container .input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border:none;
    border:2px outset var(--primary-color);
    font-size: 0.8rem;
    outline:none;
    display: block;
    
}


.input-field::placeholder{
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn{
    width:100%;
    padding:10px;
    margin:10px 0;
    background-color: #fff;
    border:2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);

}

.submit-btn:hover{
    background-color: var(--primary-color);
    border:2px solid var(--primary-color);
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right:1%;
    bottom: 50%;
}

.socicon{
    width: 2rem;
    height: 2rem;
}

.scroll-up{
    position: fixed;
    right:5px;
    bottom:2%;
    cursor:pointer;
}
.socion-up-arrow{
    width:3rem;
    height:3rem;
    

}

.copy{
    text-align: center;
    background-color: var(--bg-color);
    padding: 0.5rem;
    margin:auto;
    
}

@media screen and (max-width:720px) {
    nav{
        padding:1.5rem 1rem;
    }

    nav ul{
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left:10%;
        width:80%;
        text-align: center;
        transform: translateX(120%);
        transition:transform 0.5s ease-in;

    }
    nav ul li{
        margin:8px;
    }
    .burger-menu{
        display: block;
    }
    nav ul.show{
        transform: translateX(0);
    }

    .hero{
        margin-top: -4rem;
        flex-direction: column;
        gap:0;
        
    }
    .hero img{
        height: 20rem;
        width: 20rem;
        margin-top: 4rem;
    }
    .bio-data{
        margin-top: 1rem;
        width:25rem;
    }
    .resume img{
    
        margin-left: 1rem;
        height: 20px;
        width: 20px; 
    }
    .resume h3{
        margin-top: -3.6rem;
    }

    .more-about{
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2{
        text-align: center;
    }
    .more-about p{
        text-align: justify;
    }
    .icon{
        width: 5rem;
        height: 5rem;
        margin-top: -1rem;
    }

    .projects-container{
        flex-direction: column;
    }
    .project-container{
        width: 16rem;
    }
    .project-pic{
        width: 10rem;
        height: 10rem;
    }
    .contact-form-container{
        max-width: 25rem;

    }
    .contact-title{
        margin-top: -1rem;
    }
}
@media screen and(max-width:420px) {

    .hero img{
        width: 15rem;
        height: 15rem;
    }
    
    .bio-data{
        width:8rem;
    }

    .project-container{
        width:10rem;

    }
    .project-pic{
        width: 5rem;
        height: 5rem;
    }
    .contact-form-container{
        max-width: 15rem;
    }
}

